:root {
    --primary-color:#1e00fe;
    --pading-padrao: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Essencial para cálculos de largura */
}
body {
  font-family: "Segoe UI", sans-serif;
  color: #333;
  background-color: #f8f9fa;
  line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 var(--pading-padrao);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--pading-padrao) 0;
    background-color: var(--primary-color);
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.nav-link:hover {
    color: cadetblue;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 400px;
    padding: 80px 0px;
}

.hero-text, .hero-media {
    flex: 1;
}

.cards {
    display: flex;
    gap: 20px;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 05);
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: var(--primary-color);
}

    /* @media (max-width: 760px) {

        .cards{
            flex-direction: column;
        }

    } */

